doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Team Website
        link(rel="stylesheet", href="/stylesheets/style2.css")
        link(rel="icon", href="/images/pink-sun.ico")
    body
        block content